.topbar{

height:80px;

background:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;

border-bottom:1px solid #E2E8F0;

position:sticky;

top:0;

z-index:100;

}

.topbar-left{

display:flex;

align-items:center;

gap:18px;

}

.menu-toggle{

width:42px;

height:42px;

border:none;

border-radius:10px;
border:1px solid transparent;

background:#F1F5F9;

cursor:pointer;

display:flex;

align-items:center;

justify-content:center;

transition:.3s;

}

.menu-toggle:hover{

background:#2563EB;

color:white;

}

.topbar-left h2{

margin:0;

font-size:22px;

}

.topbar-left p{

margin-top:3px;

font-size:13px;

color:#64748B;

}

.topbar-search{

width:420px;

display:flex;

align-items:center;

gap:10px;

background:#F8FAFC;

padding:12px 18px;

border-radius:12px;
border:1px solid #E2E8F0;

}

.topbar-search input{

width:100%;

border:none;

outline:none;

background:transparent;

font-size:15px;

}

.topbar-right{

display:flex;

align-items:center;

gap:25px;

}

.notification-btn{

position:relative;

width:45px;

height:45px;

border:none;

border-radius:12px;
border:1px solid transparent;

background:#F8FAFC;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

}

.notification-dot{

position:absolute;

right:12px;

top:12px;

width:8px;

height:8px;

border-radius:50%;

background:red;

}

.profile{

display:flex;

align-items:center;

gap:12px;

cursor:pointer;

}

.profile h4{

margin:0;

font-size:15px;

}

.profile span{

font-size:13px;

color:#64748B;

}

@media(max-width:900px){

.topbar{

padding:15px;

}

.topbar-search{

display:none;

}

}
